@import '~/assets/breakpoints.sass'
@import '~/assets/theme.sass'

$translateX: -80vmin
$nav-inner-height: 1.5rem
$nav-padding-top: 1.5rem
$nav-padding-bottom: 0rem
$nav-outer-height: #{$nav-padding-top} + #{$nav-padding-bottom} + #{$nav-inner-height}

.root-container
    --translateX: #{$translateX}

nav
    overflow: hidden
    margin: 0 auto
    padding-top: $nav-padding-top
    padding-bottom: $nav-padding-bottom

    @media (max-width: $l-max-width)
        width: 90vw
        max-width: 90%

    menu
        margin: 0
        padding: 0

        .icon.logo img
            margin: 0 auto
            width: auto
            max-width: 75%
            height: auto
            max-height: 10rem

            @media (max-height: $l-landscape-max-height)
                max-height: 25vmin

            @media (max-height: $m-landscape-max-height)
                max-height: 15vmin

            @media (max-height: $s-landscape-max-height)
                display: none
                // max-height: 15vmin

        .icon.action
            height: $nav-inner-height
        
        img
            z-index: 100
            display: block
            max-width: 100%
            max-height: 100%
            object-fit: contain

            @media screen and (prefers-color-scheme: dark)
                filter: invert(100%)

        &.icons
            width: 100vw
            max-width: 100%
            display: flex
            justify-content: flex-end
            align-items: center
            z-index: 999

            @media screen and (min-width: $l-max-width)
                display: none

            .icon
                overflow: hidden
                touch-action: manipulation
                cursor: pointer

                
                &.toggle-menu
                    position: relative

                    &::before
                        $size: .8rem
                        z-index: 99
                        content: ''
                        display: block
                        position: absolute
                        top: 0
                        right: 0
                        margin-top: -$size / 2
                        margin-left: $size / 2
                        width: $size
                        height: $size
                        border-radius: 50%
                        background: $accent-color
                        transform: scale(0)
                        filter: opacity(0)
                        transition-property: transform, filter
                        transition-duration: .25s
                        transition-timing-function: ease
                    
                    &.attended::before
                        transform: scale(1)
                        filter: opacity(1)

        &.main
            position: relative
            z-index: 998
            padding: 1rem
            overflow: hidden

            a
                text-decoration: none
                color: inherit
            
            display: flex
            justify-content: flex-end
            align-items: stretch
            flex-flow: row nowrap
            
            @media (max-width: $l-max-width)
                flex-direction: column
                top: 0
                will-change: transform, filter
                transition-property: transform, filter
                transition-duration: .25s
                transition-timing-function: ease
                position: fixed
                height: 100vh
                margin-top: calc(#{$nav-outer-height})
                max-height: calc(100% - (#{$nav-outer-height}))
                transform: scale(.9)
                filter: opacity(.25)
                left: 100vw
                
                margin-left: calc(100% + #{$translateX})
                margin-left: calc(100% + var(--translateX))
                
                width: -$translateX
                width: calc(-1 * var(--translateX))
                
                text-align: right

                &.translated
                    transform: translate(-100vw) scale(1)
                    filter: opacity(1)
            
            .branding
                flex-grow: 0

            .filters
                flex-grow: 1

                input
                    display: none

                    &:checked + label .filter span
                        color: $accent-color
                        border-bottom: 1px solid $accent-color
                
                .filter
                    display: inline-block
                    cursor: pointer
                    touch-action: manipulation

                    span
                        will-change: color, border-bottom-width
                        transition: border-bottom-width .25s, color .25s
                        padding: 0 .5rem
                        font-size: 1.5rem

                        &:hover, 
                            border-bottom-width: 5
            
            .contacts
                flex-grow: 0
                overflow: hidden
                
                h3
                    margin: .5rem 0
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap

main
    @media (max-width: $xl-max-width)
        will-change: transform, filter
        transition-property: transform, filter
        transition-duration: .25s
        transition-timing-function: ease
        transform-style: preserve-3d

        &.translated
            transform: translateX($translateX)
            transform: translateX(var(--translateX))
            // filter: opacity(.25)

::v-deep
    .tile
        will-change: transform
        transition-property: transform
        transition-duration: .25s
        transition-timing-function: ease
    
    main.translated .tile
        transform: scale(.9)

footer
    .button-scroll-top
        position: fixed
        bottom: 5vmin
        left: 5vmin
        transition-property: filter transform
        transition-duration: .25s
        transition-timing-function: ease
        cursor: pointer
        width: 3rem
        max-width: 15vmin
        height: 3rem
        max-height: 15vmin
        border-radius: 50%
        background-color: rgb(255, 102, 30)
        background-image: url('~assets/img/down.png')
        background-size: 50%
        background-position: center
        background-repeat: no-repeat
        box-shadow: 0 0 .1rem .1rem rgb(255, 102, 30)

        &.hidden
            transform: scale(0)
        
        &.down
            transition-delay: .25s
        
        &.up
            transform: rotateZ(180deg)

.branding
    text-align: center
    white-space: nowrap

    span, a
        font-size: .75rem
    
    a
        text-decoration: underline !important
